html{
    background-color: #cfcfcf;

}
table {
    border-collapse: collapse;
    background: rgb(131, 205, 240);
}
.user{
    background-color: darkred;
}
td {
    width: 30px;
    height: 30px;
    border: 2px solid black;
}
.black{
    background-color: black;
}