html{
    background-color: #cfcfcf;

}
table {
    border-collapse: collapse;
    background: rgb(253, 202, 159);

}
.black {
    background-color: rgb(54, 31, 11);
}
td {
    width: 35px;
    height: 35px;
    border: 2px solid rgb(54, 31, 11);
    color:  rgb(54, 31, 11);
    text-align: center;
    font-weight: bold;
}

tr td[data-x="0"] {
    height: 15px;
    border: none;
    padding: 0;
}
tr td[data-y="0"]{
    width: 15px;
    border: none;
    padding: 0;
}
tr td[data-x="9"] {
    height: 15px;
    border: none;
    padding: 0;
}
tr td[data-y="9"]{
    width: 15px;
    border: none;
    padding: 0;
}